<hr>
<form [formGroup]="formularioEjecutivo" >
  <!-- Age -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Edad</label>
    <div class="col-8">
      <input class="form-control" [ngClass]="{ 'is-invalid': !formularioEjecutivo.get('Age').valid }"
      type="number"
      placeholder="Edad"
      formControlName="Age">
      <div *ngIf="formularioEjecutivo.controls['Age'].errors?.required"
            class="form-control-feedback">
            Por favor complete la edad.
      </div>
    </div>
  </div>
  <!-- Sexo -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>

    <mat-form-field appearance="fill" class="col-8 col-form-label">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="Sex" placeholder="- -" required>
        <mat-option>--</mat-option>
        <mat-option value="female">Mujer</mat-option>
        <mat-option value="male">Hombre</mat-option>
      </mat-select>
      <div *ngIf="formularioEjecutivo.controls['Sex'].errors?.required"
            class="form-control-feedback">
            Por favor complete el Sexo.
      </div>
    </mat-form-field>
    
  </div>
  <!-- Housing -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Alojamiento</label>

    <mat-form-field appearance="fill" class="col-8 col-form-label">
      <mat-label>Alojamiento</mat-label>
      <mat-select formControlName="Housing" placeholder="- -" required>
        <mat-option>--</mat-option>
        <mat-option value="own">Propia</mat-option>
        <mat-option value="free">Gratis</mat-option>
        <mat-option value="rent">Renta</mat-option>
      </mat-select>
      <div *ngIf="formularioEjecutivo.controls['Housing'].errors?.required"
            class="form-control-feedback">
            Por favor complete Alojamiento.
      </div>
    </mat-form-field>
    
  </div>
  <!-- Saving account -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Cuenta de ahorros</label>
    <mat-form-field appearance="fill" class="col-8 col-form-label">
      <mat-label>Cuenta de ahorros</mat-label>
      <mat-select formControlName="Saving accounts" placeholder="- -" required>
        <mat-option>--</mat-option>
        <mat-option value="n/a">Desconocidad</mat-option>
        <mat-option value="little">Pequeño</mat-option>
        <mat-option value="moderate">Moderado</mat-option>
        <mat-option value="rich">Bastante</mat-option>
        <mat-option value="quite rich">Bastante rico</mat-option>
      </mat-select>
      
      <div *ngIf="formularioEjecutivo.controls['Saving accounts'].errors?.required"
            class="form-control-feedback">
            Por favor complete Cuenta de ahorros.
      </div>
    </mat-form-field>
  </div>
  <!-- Checking account -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Cuenta de cheques</label>
    <mat-form-field appearance="fill" class="col-8 col-form-label">
      <mat-label>Cuenta de cheques</mat-label>
      <mat-select formControlName="Checking account" placeholder="- -" required>
        <mat-option>--</mat-option>
        <mat-option value="n/a">Desconocido</mat-option>
        <mat-option value="little">Pequeño</mat-option>
        <mat-option value="moderate">Moderado</mat-option>
        <mat-option value="rich">Bastante</mat-option>
      </mat-select>
      
      <div *ngIf="formularioEjecutivo.controls['Checking account'].errors?.required"
            class="form-control-feedback">
            Por favor complete la Cuenta de cheques.
      </div>
    </mat-form-field>
  </div>
  <!-- Duration -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Duración crédito (semanas)</label>
    <div class="col-8">
      <input class="form-control" [ngClass]="{ 'is-invalid': !formularioEjecutivo.get('Duration').valid }"
      type="number"
      placeholder="Duración crédito"
      formControlName="Duration">
      <div *ngIf="formularioEjecutivo.controls['Duration'].errors?.required"
            class="form-control-feedback">
            Por favor complete la duración del credito.
      </div>
    </div>
  </div>
  <!-- Purpose -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Proposito</label>
    <mat-form-field appearance="fill" class="col-8 col-form-label">
      <mat-label>Proposito</mat-label>
      <mat-select formControlName="Purpose" placeholder="- -" required>
        <mat-option>--</mat-option>
        <mat-option value="car">Carro</mat-option>
        <mat-option value="radio/TV">Radio / TV</mat-option>
        <mat-option value="furniture/equipment">Muebles / Equipaje</mat-option>
        <mat-option value="business">Negocios</mat-option>
        <mat-option value="education">Educación</mat-option>
        <mat-option value="repairs">Reparación</mat-option>
        <mat-option value="domestic appliances">Electrodomesticos</mat-option>
        <mat-option value="vacation/others">Vacaciones / Otros</mat-option>
      </mat-select>
    
      <div *ngIf="formularioEjecutivo.controls['Purpose'].errors?.required"
            class="form-control-feedback">
            Por favor complete el proposito.
      </div>
    </mat-form-field>
      
  </div>
  

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <ng-template #content let-c="close" let-d="dismiss" >
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"> Rango del crédito </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center"> El rango de crédito es de: </p>
          <p class="text-center font-weight-bold"> {{min_ammount | currency:'USD':true:'3.0-0'}} a {{max_ammount | currency:'USD':true:'3.0-0'}}</p>
          <p class="text-center"> Tiene un riesgo: </p>
          <p class="text-center font-weight-bold"> {{risk}} </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cerrar</button>
        </div>
      </ng-template>
      <button type="submit" class="btn btn-lg btn-outline-primary" (click)="guardar(content)">
        Consultar
      </button>
    </div>
  </div>
</form>
<hr>
